<div class="text-center">
	<h1 class="display-4">Hi, I'm Edwin</h1>
	<h2>I'm a Software developer who mainly develope backend with Java Spring, Rust with Actix and also .Net</h2>
	<img id="foto"
		 src="~/images/myFoto.jpg" alt="Edwin Profile Image" />

	<div class="text-center">
		<img src="~/images/dotnet-imagen.png" alt=".net logo" class="image-dot-net" />
	</div>

	<div class="row justify-content-center text-center bg-primary">
		<div class="col col-md-7 secction-welcome">
			<h1>Welcome to my Portfolio</h1>
			<p>
				I've been developing software professionally since 2023. I had the privilege to work at Linea Rosa where I improved my skills as a Full Stack developer.
				I worked on the frontend using the Yew Framework and also vanilla JS for implementing new features.
				Additionally, I developed backend services such as an API that communicates with Twilio for making masked calls, and also worked with OneSignal for custom notifications.
				I worked with Apache Cordova to build hybrid apps and also used Azure and Azure DevOps, which helped me to expand my comprehension about pipelines for automation
			</p>
		</div>
	</div>
</div>