<div style="margin-top: -105px">

	<div class="row justify-content-md-center text-center">
		<div class="col col-3 bg-white skills" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">

			<i class="bi-hdd-fill"></i>

			<h3>Backend</h3>

			<p>
				I work since de development, testing and CI and CD.
			</p>

			<p class="text-primary head">
				Stack:
			</p>

			<p>
				ASP.NET Core, SQL Server, Sprint, Actix
			</p>

			<p class="text-primary head">
				Experience:
			</p>

			<ul>
				<li>Web APIs</li>
				<li>ASP.NET Core MVC</li>
				<li>Entity Framework Core</li>
				<li>Blazor</li>
				<li>Principios SOLID</li>
			</ul>
		</div>
		<div class="col col-3 bg-white skills" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">

			<i class="bi-code-slash"></i>


			<h3>Frontend</h3>


			<p>
				I'm able to build robust frontends that meet the business requirements
			</p>

			<p class="text-primary head">
				Stack:
			</p>

			<p>
				ASP.NET MVC, Yew, Vanilla JS
			</p>

			<p class="text-primary head">
				Experience:
			</p>

			<ul>
				<li>Web APIs</li>
				<li>ASP.NET Core MVC</li>
				<li>Entity Framework Core</li>
				<li>Blazor</li>
				<li>Principios SOLID</li>
			</ul>

		</div>
	</div>

</div>