@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi, I'm @ViewBag.Nombre</h1>
    <h2>I'm a Software developer who mainly develope backend with Java Spring, Rust with Actix and also .Net</h2>
    <img
     id="foto"
     src="~/images/myFoto.jpg" alt="Edwin Profile Image"/>
</div>
